/YotaSpeedSwitcher/.vs
/YotaSpeedSwitcher/YotaSpeedSwitcher/obj
/YotaSpeedSwitcher/YotaSpeedSwitcher/bin
/YotaSpeedSwitcherService/obj
/YotaSpeedSwitcherService/bin
/.vs
/YotaSpeedSwitcher/bin
/YotaSpeedSwitcher/obj
